html {
    box-sizing: border-box;
    display: block;
    margin: 0;
    padding: 0;
}

/* body */

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    background-color: azure;

}

/* header */

.header {
    background-color: white;
    position: fixed;
    width: 100%;
    height: auto;
    top: 0;
    color: white;
    border-bottom: 1px solid gray;
    
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo {
    width: 200px;
    height: 75px;
}

.navbar-links {
    margin: 0;
    display: 0;
    display: flex;
    
}

.navbar-links li {
    /*display: inline-block; */
    margin: 0 1.2rem;
    list-style: none;
    
}

.navbar-links li a {
    color: black;
    text-decoration: none;
    padding: 1rem;
    position: relative;
}

/*
.navbar-links li a::after {
    content: " ";
    background: #ff3d00;
    width: 0;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 0.5s;
    
}

.navbar-links li a:hover::after {
    width: 100%;

} */

.navbar-links li a:hover {
    color: brown;
    
}

.toggle-button {
    position: absolute;
    top: 0.75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;


}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: black;
    border-radius: 10px;
}


/* main */

.main {
    width: 100%;
    height: 700px;
    margin: 75px auto;
    background-image: url(./resources/man-running-in-double-color-exposure-effect.jpg);
    display: flex;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #464646;
    
    
}

.main .container {
    margin: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;


}

.main .container h1 {
    color: white;
    font-size: 3.2em;
    text-shadow: 2px 2px 3px black ;
}

.main .container h3 {
    color: white;
    text-shadow: 2px 2px 3px black;
}




/* races */

.class-h2 {
    width: 100%;
    margin: auto;
}

.class-h2 h2 {
    color: grey;
    text-align: center;
    padding-bottom: 20px;
}

.container-2 {


}

.container-2 img {
    width: 100%;
    margin: auto;
}

.container-2 figcaption {
    font-weight: bold;
    padding: 20px 0;
}

.footer {
    width: 100%;
    height: 125px;
    background-color: #DAA520;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 1048px) {
    
}

@media (max-width: 600px) {
    .toggle-button {
        display: flex;
    }

    .navbar {
       flex-direction: column;
       align-items: flex-start;
       
    
    }

    .navbar-links {
        flex-direction: column;
        align-items: center;
        padding: 0;
        width: 100%;
        display: none;
    }

    .navbar-links li {
       text-align: center;
       width: 100%;
       padding: .5rem;
    }

    .navbar-links li a {
        padding: .5rem 1rem;
        margin: 1rem 0;
    }

    .navbar-links.active {
        display: flex;
    }

    .main {
        margin: auto
    }
}






